.profile {
   max-width: 880px;
   min-width: 282px;
   height: 286px;
   min-height: 120px;
   display: flex;
   margin: 40px 0 0 0;
   
}

.profile__container-image {
   width: 120px;
   height: 120px;
   margin-right: 30px;
   position: relative;
}

.profile__container-image__hover {
   position: absolute;
   display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.profile__container-image_hover-button {
   border: none;
   width: 26px;
   height: 26px;
   background: url(../../images/icon-edit-avatar.svg);
   cursor: pointer;
}

.profile__container-image__hover-active {
   display: none;
}

.profile__image {
   position: absolute;
   width: 120px;
   height: 120px;
   border-radius: 500px;
}

.profile__data {
   width: 415px;
   display: grid;
   grid-template-columns: 1fr, 1fr;
   grid-template-rows: 1fr, 1fr;
   font-family: "Inter", sans-serif, serif;
}

.profile__name {
   max-width: 373px;
   height: 39px;
   grid-row: 1/2;
   grid-column: 1/2;
   margin:22px 18px 0 0;
   font-weight: 500;
   font-size: 42px;
   line-height: 48px;
   letter-spacing: 0%;        
   white-space: nowrap;
   overflow: hidden;   
   text-overflow: ellipsis;
}

.profile__description {
   max-width: 415px;
   grid-row: 2/3;
   grid-column: 1/3;
   margin: 16px 0 0 0;
   opacity: 1;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
}

.profile__edit-button {
   width: 24px;
   height: 24px;
   background-color: rgba(0, 0, 0, 1);
   border: 2px solid rgb(255, 255, 255);
   background-image: url(../../images/icon-edit.svg);
   background-repeat: no-repeat;
   background-position: center;
   grid-row: 1/2;
   grid-column: 3/2;
   cursor: pointer;
   margin-top: 38px;
}

.profile__edit-button:hover {
   opacity: 60%;
}

.profile__button-add {
   width: 150px;
   height: 50px;
   border: 2px solid rgba(255, 255, 255, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 1);
   background-image: url(../../images/icon-add.svg);
   background-size: 22px 22px;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   padding: 0;
   margin-top: 13px;
   margin-left: 165px;
}

.profile__button-add:hover {
   opacity: 60%;
}

@media (max-width:918px) {
   .profile {
      height: 308px;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 42px;
   }

   .profile__container-image {
      margin: 0;
   }

   .profile__data {
      margin: 30px 0 0 0;
      text-align: center;
      width: auto;
   }

   .profile__name {
      margin-top: 0;
      width: auto;
   }

   .profile__description {
      margin: 14px 0 0 0;
      text-align: center;
   }

   .profile__edit-button {
      margin-top: 15px;
   }

   .profile__button-add {
      margin: 36px 0 0 0;
      width: 100%;
      min-height: 50px;
   }
}

@media (max-width:619px) {
   .profile {
      width: 282px;
      height: 290px;
      margin-top: 42px;
   }

   .profile__name {
      display: inline;
      width: auto;
      height: 22px;
      margin: 0 10px 0 0;
      font-weight: 500;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
   }

   .profile__edit-button {
      width: 18px;
      height: 18px;
      margin: 0;
   }
}