
.modal-edit__form {
   width: 358px;
   height: 219px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin:54px 36px 0;
}

.modal-edit__input {
   height: 27px;
   width: 100%;
   border-bottom: 1px solid rgba(196, 196, 196, 1);
   border-left: none;
   border-right: none;
   border-top: none;
   margin-bottom: 20px;
   font-family: "Inter";
   font-weight: 400;
   font-size: 14px;
   line-height: 100%;
   letter-spacing: 0%;
   color: rgba(196, 196, 196, 1);
}

.modal-edit__input-description {
   margin-top: 9px;
}

.modal-edit__submit {
   width: 358px;
   height: 50px;
   min-width: 238px;
   margin: 27px 0 36px 0;
   border-radius: 2px;
   border: 1px solid rgba(196, 196, 196, 1);
   color: rgba(196, 196, 196, 1);
   background: rgba(0, 0, 0, 1);
   font-family: "Inter";
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
   cursor: pointer;
}

.modal-edit__submit:hover {
   opacity: 80%;
}

.modal-edit__submit_white {
   background-color: rgba(196, 196, 196, 1);
}

@media (max-width:619px) {
   .modal-edit__form {
        width: 238px;
        height: 199px;
        margin:76px 22px 0;
   }

    .modal-edit__input {
        width: 238px;
        height: 26px;
        margin-bottom: 30px;
   }

   .modal-edit__submit {
        width: 248px;
        height: 46px;
        margin:10px 0 25px 0;
   }
}